/*:root {
   
    --background: #4863a0;
    --border-color: #b4cfec;
}*/
body{
   
    margin-left: 200px;
    margin-right: 200px;
    /*background-color: rgb(160, 159, 179);*/
 
}


* {
    font-size: 62.5%;
    /*background-color: #fff;*/
    background-color: rgb(76, 93, 109);
    color:white;
}
/* section1 */
.section1 {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    /*background-color: rgb(160, 159, 179);*/
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 6rem;
    font-family: 'cormorant', sans-serif;
    margin-bottom: 30px;
    
    
    /*background-color: rgb(160, 159, 179);*/
}

.quote {
    font-family: 'dancing script', cursive;
    display: flex;
    justify-content: center;
    font-size: 3rem;
    align-content: center;
    margin-top: -10px;
    /*background-color: rgb(160, 159, 179);*/
    

}

/* section2 */ 

.section2 {
    display: flex;
    justify-content: center;
    border-color: var(--border-color);
    background-color: var(--background-color);
}

.heading {
    font-size: 2rem;
    color: var(--white);
    float:right;
}

.text {
    font-size: 2rem;
    color: var(--white);

}
h3 {
    font-size: 2.5rem;
    color: var(--white);

}
/* main content */

.main-content {
    display: flex;
    justify-content: center;
}
#weather{
    font-size: large;
    float:right;
   
}
h5{
    font-size: large;
    float: right;
}
